# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Contributors:** \
Artur Llabrés Brustenga: Artur.Llabres@e-campus.uab.cat \
Gerard Navarro Pérez: Gerard.NavarroP@e-campus.uab.cat \
Arnau Parrilla Gibert: Arnau.Parrilla@e-campus.uab.cat \
Jan Scarabelli Calopa: Jan.Scarabelli@e-campus.uab.cat \
Xabier Oyanguren Asua: Xabier.Oyanguren@e-campus.uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE I : Print, Input and Variables

The print fucntion is used to output messages to the screen.

We start with the simplest print, a string:  
A string is a sequence of characters, we use the " character to begin and close the string.

In [2]:
print("Hello World")

Hello World

It is not necessary to write the string directly inside the print, we can save the string to a variable first and then prtint the variable.

A variable can be thought as a box were values can be stored.

To define a variable simply choose a name for it and use the '=' operator to set its value.

In [3]:
welcome_message = "Hello World"
print(welcome_message)

Hello World

Apart from strings there are other types of data like ints, floats and booleans. Just like we have done with strings this types can be stored in variables and printed.

In [4]:
x = 42
y = 3.14
z = True

Int, short for integer, which means that they can be signed, but do not have decimals. 

Float, are signed and can have decimals. 

Boolean, only have two values, True and False.

Unlike other programming languages python is not strongly typed, meaning that variables are not bound to a sigle type, therefore you could have a variable that stores a string and later change it to an int.

In [5]:
i = "The quick brown fox jumps over the lazy dog" 
print(i)

i = 208
print(i)

The quick brown fox jumps over the lazy dog
208

The input function is used to get a value from a user.

The output of this function is a string that can be saved to a variable.

In [6]:
name = input("Whats your name? ")
print(name)

Whats your name? Artur
Artur

The output of the input function is always a string, even if the user entered a int, fload, or boolean, to change its type we can use the functions `int()`, `float()` and `bool()`. Also, the function `str()`, short for string, exists.

In [7]:
number = int(input("Choose a number between 1 and 11: "))
print(number)

Choose a number between 1 and 11: 10
10

## Operators
The following opearators can be used:
* a+b: sum
* a*b: multiplication
* a**n: power
* a/b: true division
* a%b: modulus (remainder of the division)
* a==b: checks if a and b are equal and returns a boolean (True or False)
* a!=b: checks if a and b are diferent and returns a boolean
* a > b: checks if a is greater than b and returns a boolean
* a < b: checks if a is less than b and returns a boolean
* a >= b and a <= b also exist

In [8]:
a = 2
b = 4
c = a+b
print(c)

6

In [9]:
a = 5
b = 3
print(a/b)

1.6666666666666667

In [10]:
a = 5
b = 3
print(a%b)

2

In [12]:
a = 3.1415
b = 4
print(a>=b)

False

In [13]:
a = "xk"
b = "cd"
print(a+b)

xkcd

In [14]:
a = "ha"
print(a*6)

hahahahahaha

In [15]:
a = "This is a long string"
b = "short string"
print(a>b)

False

# If, Elif, Else

The if function takes in a boolean value and executes the code below if the boolean was true.

In [16]:
a = 5
b = 2
if(a > b):
    print("a is greater than b")
print("Code ouside the if is executed")

a is greater than b
Code ouside the if is executed

In [17]:
a = 5
b = 2
if(a < b):
    print("a is lesser than b")
print("Code ouside the if is executed")

Code ouside the if is executed

The elif function can be used to add other conditions after an if.

In [18]:
a = 5
b = 2
if(a < b):
    print("a is lesser than b")
elif(a > b):
    print("a is greater than b")
print("Code ouside the if is executed")

a is greater than b
Code ouside the if is executed

The else function executes the code below if all the conditions from the if and elifs above are false.

In [19]:
a = 5
b = 5
if(a < b):
    print("a is lesser than b")
elif(a > b):
    print("a is greater than b")
else:
    print("if a is not greater nor lesser than b, then a must be equal to b")
print("Code ouside the if is executed")

if a is not greater nor lesser than b, then a must be equal to b
Code ouside the if is executed

# Lists
Lists are sequences of values of any type, in fact they are iterable objects (will talk about that on following sessions).

Creating a list:

In [20]:
list_of_ints = [1,6,1,8,0,3,4]
list_of_chars = ["Y","M","C","A"]
list_of_floats = [0.123, 4.20, 13.4, 6.9]
list_of_multiple_types = [1, "one", 1.0]

Even lists of lists can be made:

In [21]:
list_of_lists = [[1,2,3,4], [0.2,6,3,"A"], "string", [1,2], 42]

Some of the operators seen before can also be used with lists:

In [22]:
l1=[1,2,3]
l2=[3,2,1]
print("The + sign concatenates lists: {0}".format(l1+l2))

The + sign concatenates lists: [1, 2, 3, 3, 2, 1]

In [23]:
l1=[9,8,7]
print("The * sign extents the list by making copies of itself x times: {0}".format(l1*6))

The * sign extents the list by making copies of itself x times: [9, 8, 7, 9, 8, 7, 9, 8, 7, 9, 8, 7, 9, 8, 7, 9, 8, 7]

Slicing lists:
Using `name_of_a_list[integer]` you can get the ith value of the list. Keep in mind that lists start at 0, so `name_of_a_list[0]` will get you the first element.

In [24]:
l = [1,2,3,4]
print(l[0]) #first element
print(l[1]) #second element
print(l[-2]) #sencond to last element
print(l[-1]) #last element

1
2
3
4

Slicing a list of a list: if the ith element of a list is another list of which you want the jth element the following can be used `list[i][j]`

In [25]:
l = [[1,2,3],[4,5,6]]
print(l[1][2]) #third element of the second list

6

When slicing you can get a sublist of your list using `name_of_a_list[x:y]`, for example:

In [26]:
l = [0,1,2,3,4,5,6]
print("From the second element of the list to the last: {0}".format(l[1:]))
print("From the first element to the third: {0}".format(l[:3]))
print("From the third element to the penultimate: {0}".format(l[2:-1]))

From the second element of the list to the last: [1, 2, 3, 4, 5, 6]
From the first element to the third: [0, 1, 2]
From the third element to the penultimate: [2, 3, 4, 5]

len() returns the length of a list:

In [27]:
l = [1,2,3,4,5,6]
print("The list l has length: {0}".format(len(l)))

The list l has length: 6

.append is used to add an element at the end of the list:

In [28]:
l = [1,1,1]
l.append(7) #append modifies the base list 
print(l)

[1, 1, 1, 7]

.pop() removes the last element from a list and returns it:

In [29]:
l = [1,2,3]
print("Returns the las element of the list: {0}".format(l.pop()))
print("The last element has been removes from the list: {0}".format(l))

Returns the las element of the list: 3
The last element has been removes from the list: [1, 2]

If you give an integer i to `pop(i)` it will return and remove form the list the ith element.

In [30]:
l = [1,2,3,4]
l.pop(1)

2