# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Contributors:** \
Artur Llabrés Brustenga: Artur.Llabres@e-campus.uab.cat \
Gerard Navarro Pérez: Gerard.NavarroP@e-campus.uab.cat \
Arnau Parrilla Gibert: Arnau.Parrilla@e-campus.uab.cat \
Jan Scarabelli Calopa:Jan.Scarabelli@e-campus.uab.cat \
Xabier Oyanguren Asua: Xabier.Oyanguren@e-campus.uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# Functions
Functions perform a specific task.  
They are used to make our code more modular and organized besides avoiding code repetition.  
We put together the code in *blocks*.
####<ins>Syntax:</ins>
* Keyword `def` marks the start of function header.
* A function name to identify it.
* Arguments through which we pass values to a function. They are optional.
* The function body. Statements must have same indentation level.
* An optional return statement to return a value from the function.<br>
  <br>
 
### <ins>Example of function with no returning statement:</ins>

In [ ]:
def print_string(word):
  print(word)

In [ ]:
a = "Car"
print_string("Plane")
print_string(a)

Plane
Car

### <ins>Example of function with returning statement:</ins>

In [ ]:
def factorial(n):
  res = 1
  for i in range(1,n+1):
    res = res * i
  
  return res

In [ ]:
solution = factorial(10)
print("The factorial of 10 is", solution)

The factorial of 10 is 3628800

### <ins>Example of function returning several variables:</ins>

In [ ]:
def division(a, b):
  return int(a/b), a%b

In [ ]:
res, modulus = division(10, 3)
print("The division 10/3 equals", res, "with modulus", modulus)

The division 10/3 equals 3 with modulus 1

The `return` statement ends the function, so we cannot call `return` several times.

We can set default arguments in the event that we don't pass them explicitly.
#### For example:

In [ ]:
def min_max_list(l, option="min"):
  if option == "min":
    return min(l)
  elif option == "max":
    return max(l)

In [ ]:
l = [43, 3, 187, 84, -56]
print("The minimum value of the list is", min_max_list(l), "and the max value is", min_max_list(l, "max"))

The minimum value of the list is -56 and the max value is 187

If the function has many parameters, we can assign them by their name.
#### For example:

In [ ]:
def division(a, b):
  return a/b

In [ ]:
print("10/2 equals to", division(b=2, a=10))

10/2 equals to 5.0

## Parameters are passed by object's reference
All parameters in the Python language are passed by object's reference. It means that inside the function you have the object and you are free to mutate it if possible.
* If the parameter is **mutable** the change also reflects back outside the function.
* If the parameter is **immutable** the change is only reflected in the local namespace (inside the function).

#### To show that:

| Class | Description | Immutable? |
| --- | --- | --- |
| bool | boolean value | YES |
| int | integer | YES |
| float | floating-point value | YES |
| list | mutable sequence of objects | NO |
| tuple | immutable sequence of objects | YES |
| str | character string | YES |
| set | unordered set of distinct objects | NO |
| frozenset | immutable form of set class | YES |
| dict | associative mapping (aka dictionary) | NO |

Lists are mutable objects so the changes will have effect outside the function:

In [ ]:
def remove_element(l, value):
  l.remove(value)

In [ ]:
l = [43, 3, 187, 84, -56]
remove_element(l, 84)
print("The new list is", l)

The new list is [43, 3, 187, -56]

For an integer value it will not:

In [ ]:
def change_value(a):
  a = 3
  print("Thw value of a inside the function is", a)

In [ ]:
a = 4
change_value(a)
print("Thw value of a outside the function is", a)

Thw value of a inside the function is 3
Thw value of a outside the function is 4

**What should we do?**

In [ ]:
def new_change_value(a):
  a = 3
  print("Thw value of a inside the function is", a)
  return a

In [ ]:
a = 4
a = new_change_value(a)
print("Thw value of a outside the function is", a)

Thw value of a inside the function is 3
Thw value of a outside the function is 3

## `yield` keyword
`yield` keyword is very similar to the `return` statement with the difference that the function returns a generator.

We will briefly explain what is an *iterable* and a *generator*.

### <ins>Iterable</ins>:  
When you create a list, you can read its items one by one. Reading its items one by one is called iteration. A list is an iterable.

```python
>>> mylist = [x*x for x in range(3)]
>>> for i in mylist:
...    print(i)
0
1
4
```

Everything you can use "`for... in...`" on is an iterable: `lists`, `strings`, files...

These iterables are handy because you can read them as much as you wish, but you store all the values in memory and this is not always what you want when you have a lot of values.

### <ins>Generator</ins>:
Generators are iterators, a kind of iterable **you can only iterate over once**. Generators do not store all the values in memory, **they generate the values on the fly**:
```python
>>> mygenerator = (x*x for x in range(3))
>>> for i in mygenerator:
...    print(i)
0
1
4
```
It is just the same except you used `()` instead of `[]`. BUT, you **cannot** perform `for i in mygenerator` a second time since generators can only be used once: they calculate 0, then forget about it and calculate 1, and finally calculating 4, one by one. **THEY ARE NOT STORED IN MEMORY**.


### So, what does `yield` do?

In this example, the function `createGenerator()` returns a generator:

```python
>>> def createGenerator():
...    for i in range(3):
...        yield i*i
...
>>> mygenerator = createGenerator() # create a generator
>>> for i in mygenerator:
...     print(i)
0
1
4
```
Here it's a useless example, but it's handy when you know your function will return a huge set of values that you will only need to read once.

# Recursive vs Iterative form

Key differences:

* A conditional statement decides the termination of recursion while a control variable’s value decide the termination of the iteration statement (except in the case of a while loop).
* Infinite recursion can lead to system crash while infinite iteration consumes CPU cycles.
* Recursion makes code smaller while iteration makes it longer.

In [ ]:
def iterative_factorial(n):
  res = 1
  for i in range(1,n+1):
    res = res * i
  return res

In [ ]:
def recursive_factorial(n):
  if n == 1:
    return 1
  else:
    return n * recursive_factorial(n-1)

In [ ]:
print("The factorial of 10 is", iterative_factorial(10), "in iterative form and", recursive_factorial(10), "in recursive form.")

The factorial of 10 is 3628800 in iterative form and 3628800 in recursive form.

# Dictionaries
A dictionary is an unordered collection of items. While lists have only values as elements, a dictionary has a `key: value` pair.

Dictionaries are optimized to retrieve values when the key is known. We index the dictionaries by their keys.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:  
`d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}`

In [ ]:
occurrences = {"a": 32, "b": 3, "c": 21}

In [ ]:
occurrences["a"]

32

**Create empty dictionary:**

In [ ]:
people = {}

**Fill the dictionary:**

In [ ]:
people[6423746] = {"name": "Joan", "age": 23, "city": "San Francisco"}

In [ ]:
print(people)

{6423746: {'name': 'Joan', 'age': 23, 'city': 'San Francisco'}}

In [ ]:
people[6423746]

{'age': 23, 'city': 'San Francisco', 'name': 'Joan'}

In [ ]:
people[6423746]["city"]

'San Francisco'

## Dictionary Methods:
*    `d.clear()`
*    `d.get(<key>[, <default>])`
*    `d.items()`
*    `d.keys()`
*    `d.values()`
*    `d.pop(<key>[, <default>])`
*    `d.update(<obj>)`

### d.clear()
Empties dictionary:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)

d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

### d.get(\<key>\)
It returns the value of a given key from a dictionary (never returns error):

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.get('b'))

print(d.get('z'))

20
None

### d.items()
It returns a list of tuples containing the key-value pairs. The first item in each tuple is the key, and the second item is the key’s value:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d)

print(list(d.items()))

print(list(d.items())[1][0])

print(list(d.items())[1][1])

{'a': 10, 'b': 20, 'c': 30}
[('a', 10), ('b', 20), ('c', 30)]
b
20

### d.keys()
Returns a list of keys in a dictionary:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d)

print(list(d.keys()))

{'a': 10, 'b': 20, 'c': 30}
['a', 'b', 'c']

### d.values()
Returns a list of values in a dictionary:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d)

print(list(d.values()))

{'a': 10, 'b': 20, 'c': 30}
[10, 20, 30]

### d.pop(\<key>\)
Removes a key from a dictionary, if it is present, and returns its value:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.pop('b'))

print(d)

20
{'a': 10, 'c': 30}

### d.update(\<obj>\)

Merges one dictionary with another one.
- If the key is not present, it is added.
- If the key is present, the corresponding value is updated.

In [ ]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)

print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}