# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Lecturer and Main Contributor to this Notebook:** \
Artur Llabrés Brustenga: Artur.Llabres@uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE I : Print, Variables, Input, If, Elif, Else and Lists

### Printing Stuff to Screen

The `print()` function is used to output messages to the screen.

In [26]:
print("Hello World!")

Hello World!

It is not necessary to write the content directly inside the print, we can save it to a ***variable*** first and then print the variable.

A variable can be thought of as a box where values can be stored.

To define a variable, simply choose a name for it and use the `=` operator to set its value.

In [3]:
welcome_message = "Hello World!" # save the string 'Hello World!' inside the variable 'welcome_message'. 
print(welcome_message)

Hello World

In the previous cell we have two instructions, the first one `name = ""` is called an assignment, the contents on the right- side of the equal are assigned to the variable whose name is in the left-side.

The second instruction is the `print()` function that we have seen in the first example.

The green letters after the `#` in the first line are called a **comment** and they are ignored by the python interpreter, this means that anything written after a `#` will not affect the code and therefore you can use it to take notes or clarify instructions right from inside the code cell instead of separating your comments from the code like this text.

------

Variables can have almost any name you want, just make sure that they do not start with a number, that they are not using special characters (like ! " · $ \% & \/ ( ) ? ¿ * ^ ¨ ` ´ -), and that they are not using the same name as one of the Python reserved words (basically words that are used to tell things to the code, for example "print")

In [27]:
1name = "text" # this is not a valid variable name, because it is using a number as first character

SyntaxError: invalid decimal literal (1643913289.py, line 1)

In [28]:
money$ = "text" # this is not a valid variable name, because it is using a special character

SyntaxError: invalid syntax (203811646.py, line 1)

In [31]:
print = "text"  # this will work as a variable name, but you should not use it

print("Hello World!") # because now print="text" and not the function it is supposed to be

TypeError: 'str' object is not callable

Now print does not do what it is supposed to do, because we have reassigned it with a value when we did `print="text"`. 

Until we restart the **Python Kernel** ("the memory" of the Python Interpreter) we will not be able to use `print()` -> to do so you can go to the menu bar (near the top of the page) -> Kernel -> Restart.

In [ ]:
print("This should work now") # Run this after reseting the Python Kernel (Instruction above)

The best way to know if you can use a variable name is to look at its color, if you are using one of Python reserved words it will be displayed in green if not in black.

In [ ]:
print, list, dict, int, bool, def, if, for, while... # all in green so do not use as variable name

print1, name_list, dictionary, integer, boolean, define, for_loop, while_loop... # all in black so you can use them

Basically if a name you want to use is reserved and displayed in green you can always add more letters or numbers to it to make it a valid variable name.

-------------------------------

Now we know how we can name a variable, but what can we put inside? (or more correcly said what **type** of values can be assigned to a variable)

In [3]:
a = "hello" # this is a string
x = 42 # this is an integer
y = 3.14 # this is a float (or floating point number)
z = True # this is a boolean

So Python has different **types**. You can think of a type as a familly of values that will 
behave in the same way.

The first types we will see are:

- **strings**
- **integers**
- **floats**
- **booleans**

In order to know the type of a variable you can use `type()`

### Strings

A string (in short **str**) is a sequence of characters which can inlcude letters and numbers, we use the `"` character to begin and close the string.

We have been working with strings since the beginning: `"Hello World!"` is a string.

In [4]:
string_var = "This is a String, it has letter, but also numbers: 1231, 143.324, 0.1..." # example of a string
type(string_var)

str

### Integers

Integer (in short **int**) are possitive or negative numbers without decimals.

In [5]:
int_var = 1
type(int_var)

int

In [6]:
int_var1 = 4567
type(int_var1)

int

In [7]:
int_var2 = -19
type(int_var2)

int

### Floats

Floats are possitive or negative decimal numbers.

In [8]:
float_var = 1.0
type(float_var)

float

In [11]:
float_var1 = 3.1415
type(float_var1)

float

In [10]:
float_var2 = -8.1
type(float_var2)

float

### Booleans

Booleans are a data type that can only take the value `True` or `False`, or if you prefer `1` or `0`. They are the simplest `type` in the sense that they occupy the least amount of memory and thus are easier to manipulate by the computer.

In [1]:
boolean_var = True
type(boolean_var)

bool

##### Changing types (aka Type Casting)
Unlike other programming languages python is not strongly typed, meaning that variables are not bound to a sigle type, therefore you could have a variable that stores a string and later change it to an `int`. Yet, at each time it will have a unique type.

In [15]:
i = "The quick brown fox jumps over the lazy dog" # Here 'i' is a string
print(i)
print(type(i))

print("-------------") # just printing a line to separate the prints

i = 208 # Now 'i' is an int
print(i)
print(type(i))

The quick brown fox jumps over the lazy dog
<class 'str'>
-------------
208
<class 'int'>

Not only that, but the type of a variable can be changed in an intuitive manner, by using the functions `str()`, `int()`, `float()` and `bool()`

In [15]:
var = "1"
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1
<class 'str'>

In [14]:
var = "1"
var = int(var) # Convert variable 'var' to type 'int'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1
<class 'int'>

In [13]:
var = "1"
var = float(var) # Convert variable 'var' to type 'float'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1.0
<class 'float'>

In [16]:
var = "1"
var = bool(var) # Convert variable 'var' to type 'bool'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

True
<class 'bool'>

sidenote: bool(i) is True for any number besides 0 and any non-empty string. See below:

In [16]:
print(bool(142124))
print(bool("sdfghjkiuytredfghj"))
print(bool(0))
print(bool(""))

True
True
False
False

#### Why different types?
Importantly, note that the data of each type will occupy a different amount of memory in your computer, and will be represented in a different manner, that is why they "form each a data representation family". For example, while a **boolean** occupies a single bit, a **float** may occupy 64 bits (a series of 64 ones and zeros), and how the computer understands them to convert them into a particular float, is what makes it a defined **type**.

---------------------

## Operators

### Sum

`+`

Between **integers** returns the sum of the two integers as an integer:

In [23]:
a = 2
b = 4
c = a+b
print(c)
print(type(c))

6
<class 'int'>

Between **floats** returns the sum of the two floats as float:

In [24]:
a = 0.8
b = 0.2
c = a+b
print(c)
print(type(c))

1.0
<class 'float'>

Between a **float and an int** returns the sum of the two as a float:

In [25]:
a = 0.8
b = 5
c = a+b
print(c)
print(type(c))

5.8
<class 'float'>

Between **two strings** returns a string formed by concatenating the first one with the second one:

In [31]:
a = "xk"
b = "cd"
print(a+b)

xkcd

Between two **booleans**, `True` is used as `1` and `False` is used as `0` and the output is an int:

In [29]:
a = True
b = False
c = a+b
print(c)
print(type(c))

1
<class 'int'>

### Multiplication
`*`

Between **integers** returns the result of the multiplication as an integer, the same between **floats**, but returns a float, and between an integer and a float returns a float.

In [37]:
a = 3
b = 5.5
c = a*b
print(c)
print(type(c))

16.5
<class 'float'>

You can not multiply strings: (Unless you define what that would mean, we might see this in other lectures)

In [39]:
a = "hello"
b = "goodby"
c = a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

However, you can multiply a string with an integer:

In [14]:
a = "ha"
print(a*6)

hahahahahaha

### Division
`/`

You can devide between **integers** or **floats** and the result is always a float, even if both operands where integer and the division is perfect

In [40]:
a = 5
b = 3.5
print(a/b)

1.4285714285714286

In [41]:
a = 10
b = 2
c = a/b
print(c)
print(type(c))

5.0
<class 'float'>

### Important! You can Reassign a Value of a Variable with an Expression involving itself!

You can use the value of a variable to perform an operation with it and then save the new output in a variable with the same name. Of course, this will re-write its previous content!

In [56]:
x = 9
x = x+1

print(x)

10

In [59]:
x = 9
y=7
x = 2*(x-y)

print(x)

4

In [62]:
x="hi!"

x = x+" I am Navau!"+x+' Again! '
x = 2*x

print(x)

hi! I am Navau!hi! Again! hi! I am Navau!hi! Again!

#### Shorthands

There are some special operators like `+=`, `-=`, `*=`, `/=` etc. such that they perform this

In [66]:
x=3

x = x+2

print(x)

5

In [65]:
x=3

x += 2

print(x)

5

### Integer Division
`//`

This operator allows one to perform an integer division (taking "the integer part of a division").
The output is an integer if the inputs are integers but a float otherwise (with all decimals equal to zero).

In [5]:
a = 5//2
b = 5.0//2
print(a, type(a))
print(b, type(b))

2 <class 'int'>
2.0 <class 'float'>

### Modulus

`%`

Returns the **remainder** of the division:

In [49]:
a = 17
b = 3
print(a%b)

2

If a number is divisible by another the remainder of the division is 0:

In [50]:
a = 18
b = 3
print(a%b)

0

## Comparators

`==`, `=!`, `>`, `>=`, `<`, `<=`

These operators between two values always output a **boolean** (`True` or `False`), and allow you to know if two values are equal (`==`), unequal (`!=`), the first greater than the second one (`>`), greater or equal (`>=`), etc.

Compare two values and return a boolean (True or False):

In [12]:
a = 3.1415
b = 4
print(a>=b)

False

When comparing **integers with floats**, the integer is internally converted to float, this is why `1` and `1.0` are equal.

In [4]:
a = 1
b = 1.0
print(a==b)

True

This conversion is not done when comparing integers or floats to strings and therefore `1` is not equal `"1"`.
We will see later on that a character of a string `"1"` and an integer `1` are actually very differently saved in memory, so even if the top level representation of them is the same (for us), internally, in the hardware they are different things.

In [3]:
a = 1
b = "1"
print(a==b)

False

Summary of the operators:
* `a+b`: sum
* `a*b`: multiplication
* `a**n`: power
* `a/b`: true division
* `a//b`: integer division
* `a%b`: modulus (remainder of the division)
* `a==b`: checks if a and b are equal and returns a boolean (True or False)
* `a!=b`: checks if a and b are diferent and returns a boolean
* `a > b`: checks if a is greater than b and returns a boolean
* `a < b`: checks if a is less than b and returns a boolean
* `a >= b` and `a <= b`: greater iqual and lesser iqual, return booleans

## Boolean Operators
There is one last kind of operators that are very relevant for any programmer, that allow us to generate complex conditions and special cases. We will see their use later o in this lecture.
#### and
`and`

The operation of an `and` between two expressions that yield `boolean` values is `True` if and only if **both** expressions were `True`.

In [3]:
a=8
b=2
print(  (a>8) and (b<=2)  )

False

In [4]:
print(  (a>=8) and (b<=2)  )

True

In [5]:
print(  (a<5) and (b<1)  )

False

#### or
`or`

The operation of an `or` between two expressions that yield `boolean` values is `True` if and only if **at least one** of the expressions was `True`.

In [6]:
a=8
b=2
print(  (a>8) or (b<=2)  )

True

In [7]:
print(  (a>=8) and (b<=2)  )

True

In [8]:
print(  (a<5) and (b<1)  )

False

#### not
`not`

The `not` operator is applied only to one expression that yields a `boolean`. The output is **the opposed boolean.**

In [9]:
a=8
not a<6

True


And of course you can mix them all (use parentheses) to generate complex logical conditions.

In [10]:
a=8
b=2
print( not ((a>8) or (b<=2)) and (a+b==b) and (a*b!=c) )

False

------------------------------

## Input

The `input()` function is used to get a value from a user. The code will stop running at that point and will prompt the user to insert somehting.

The output of this function is a string that can be saved to a variable.

In [ ]:
name = input("Whats your name? ")
print(name)

The output of the `input()` function is always a *string*.

In [23]:
number = input("Choose a number between 1 and 11: ")
print(number+5)

Choose a number between 1 and 11: 10

TypeError: can only concatenate str (not "int") to str

As mentioned above the output of the `input()` function is always a string. This is why the `+` is giving us an error. We are trying to sum a string with an integer. If we use `int()` before saving the value to the variable then it will be saved as an integer and we will not have any problem to sum it with another number.

In [24]:
number = int(input("Choose a number between 1 and 11: "))
print(number+5)

Choose a number between 1 and 11: 10
15

# If, Elif, Else

The `if <condition>:` clause takes in a boolean value in the `<condition>` and executes the code below **until the indentation finishes**, if the boolean was true. **Indenting**  the code means writing the code after a TAB.

In [8]:
a = 5
b = 2
if a > b:
    print("a is greater than b")
    print("Still we are inside the if condition")
print("Code outside the if is always executed")

a is greater than b
Still we are inside the if condition
Code outside the if is always executed

In [9]:
a = 5
b = 2
if a < b:
    print("a is lesser than b")
    print("Bruna knows that")
print("Code outside the if is always executed")

Code outside the if is always executed

The `elif <conditon>:` clause can be used to add alternative cases to an if. Then, only the code under the `if` or `elif` that is succesfully fulfilled will be executed. Note:
* You can put as many `elif` conditions as you wish after one `if`.
* Only the first condition that is met will be entered! Even in the case there are additional `elif`-s that would also be satisfied below, they will not be executed!

In [10]:
a = 5
b = 2
if a < b:
    print("a is lesser than b")
elif a > b:
    print("a is greater than b")
elif a==b:
    print("They are the same!")
    print("Yeah!")
print("Code outside the if is always executed")

a is greater than b
Code outside the if is always executed

In [11]:
a = 3

if a < 2:
    print("a is smaller than 2")
elif a < 4:
    print("a is smaller than 4")
elif a < 5: # note how this condition will not even be checked! Since the previous one will
    print("a is smaller than 5")
    print("Yeah!")
print("Code outside the if is always executed")

a is smaller than 4
Code outside the if is always executed

The `else:` clause executes the code below if all the conditions from the `if` and `elif`-s above are false.

In [54]:
a = 5
b = 5
if a < b:
    print("a is lesser than b")
elif a > b:
    print("a is greater than b")
else:
    print("if a is not greater nor lesser than b, then a must be equal to b")
print("Code outside the if is always executed")

if a is not greater nor lesser than b, then a must be equal to b
Code outside the if is always executed

Just to say it explicitly you can add as many lines of code as you want below each part of the `if`, `elif` and `else`.

Note that it is also an allowed sytax to write the conditions inside a parenthesis as if `if`, `elif` were functions with arguments `if(<condition>):`

In [12]:
a = 5
b = 5
if(a < b):
    print("a is lesser than b")
elif(a > b):
    print("a is greater than b")
else:
    print("if a is not greater nor lesser than b, then a must be equal to b")
print("Code outside the if is always executed")

if a is not greater nor lesser than b, then a must be equal to b
Code outside the if is always executed

# "Prettier" Print or `f-strings`

If `f` is used before a string in `""` then you can insert code between curly brackets `{}`. This code will be run and the output will appear inserted inside the string, just as if you added the left side and right side of the string with `str(<code>)`

In [1]:
a = 10
print(f"The value of variable a is: {a}")

The value of variable a is: 10

In [13]:
b=f"The value of variable a is: {a*10//4}"
print(b)

The value of variable a is: 12

In [14]:
a = 3
b = 7
c = f"a is {a} and b is {b}, then a+b is {a+b}"
print(c)

a is 3 and b is 7, then a+b is 10

This way of generating a string, even allows you to format the float numbers, for instance to have a defined number of significan numbers and a defined number of digits.

`f'{<value>:{width}.{precision}}'`
* `width` fixes the number of characters to use for the displaying of the numer. Yet, if more space than this is needed to represent the number, width will be ignored.
* `precision` tells the number of significant numbers to show (rounding the last one)

In [49]:
a=20000/3

print(f"This is without formatting {a}")
print(f"This is formatted to only show 4 significant numbers {a:.4}")

b=10/2
print(f"\nThis is without formatting {b}")
print(f"This is formatted to occupy the space of 4 characters {b:4}")
print(f"This is formatted to occupy the space of 6 characters {b:6}")
print(f"This is formatted to occupy the space of 9 characters {b:9}\n")

print(f"Occupy the space of 10 characters and 3 significant numbers {a:10.3}")
print(f"Occupy the space of 16 characters and 3 significant numbers {a:16.3}")

This is without formatting 6666.666666666667
This is formatted to only show 4 significant numbers 6.667e+03

This is without formatting 5.0
This is formatted to occupy the space of 4 characters  5.0
This is formatted to occupy the space of 6 characters    5.0
This is formatted to occupy the space of 9 characters       5.0

Occupy the space of 10 characters and 3 significant numbers   6.67e+03
Occupy the space of 16 characters and 3 significant numbers         6.67e+03

# Lists
Lists are sequences of values of any type (boolean, float etc.). In fact they are ***iterable*** objects (we will talk about that on following sessions).

You can think of them as a variable that contains a collection of un-named variables.

Creating a list:

In [50]:
list_of_ints = [1,6,1,8,0,3,4]
list_of_chars = ["Y","M","C","A"]
list_of_floats = [0.123, 4.20, 13.4, 6.9]
list_of_multiple_types = [1, "one", 1.0, False]

Even **lists of lists** can be made. If you think of a list as a vector, this would be a matrix.

In [21]:
list_of_lists = [[1,2,3,4], [0.2,6,3,"A"], "string", [1,2], 42]

Some of the operators seen before can also be used with lists:

The `+` sign **concatenates** lists:

In [55]:
l1=[1,2,3]
l2=[3,2,1]
print(l1+l2)

[1, 2, 3, 3, 2, 1]

The `*` sign extends the list by making **copies of itself** `x` times (where `x` is an integer):

In [57]:
l1=[1,2,3]
print(l1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Indexing

Using `name_of_a_list[integer]` you can get the $i$-th value of the list. 

**Keep in mind that lists start at 0**, so `name_of_a_list[0]` will get you the first element!

Good quality programming languages start the indices of their array-like structures at 0, Python, C, Java etc. There are some that don't, like Matlab, Fortran etc. (just joking xD). But you will see the advantage of the indexing from 0.

In [58]:
l = [1,2,3,4]
print(l[0]) #first element
print(l[1]) #second element

1
2

If you try to access a position outside of the list, you will get this error:

In [59]:
l = [1,2,3,4]
print(l[10]) # eleventh element, which does not exist

IndexError: list index out of range

You can access the list backwards using negative numbers where `name_of_a_list[-1]` is the last element of the list.

In [61]:
l = [1,2,3,4]
print(l[-1]) #last element
print(l[-2]) #sencond to last element

4
3

What happens if we have a **list of a list**?

Basically we can do `[·]` twice.

If the $i$-th element of a list is another list of which you want the $j$-th element, the following can be used `list[i][j]`

You are basically indexing the big list of lists in the $i$-th position and the element outputed there in the $j$-th position.

In [63]:
l = [[1,2,3],[4,5,6]] # list of lists

l2 = l[1] # get the second element of the list 'l' which is the second list and save it to l2
print(l2)

print(l2[2]) # print third element of l2

[4, 5, 6]
6

In [65]:
# same as above but in one step using list[i][j]
l = [[1,2,3],[4,5,6]]
print(l[1][2]) # third element of the second list

6

#### Slicing
You can get a **sublist** of your list using `name_of_a_list[x:y]`, to get the elements from the `x`-th to the `y-1`-th (!! not `y`-th!! You will see why this is useful later on). This is called **slicing** a list from `x` to `y-1`.

For example we can the elements from the second to the fourth by

In [51]:
l = [0,1,2,3,4,5,6]
print(l[2:5])

[2, 3, 4]

If you omit `x`or `y` the reight or left end of the list is assumed. Thus, from the second element of the list to the last:

In [69]:
l = [0,1,2,3,4,5,6]
print(l[1:])

[1, 2, 3, 4, 5, 6]

From the first element to the third:

In [68]:
print(l[:3])

[0, 1, 2]

And of-course you can also use negative indices (backwards), noting that the slicing is given until `y-1`.
From the third element to the pre-penultimate:

In [52]:
print(l[2:-2])

[2, 3, 4]

#### Length of a list
`len()` returns the length of a list, aka how many elements are there in the list:

In [53]:
l = [1,2,3,'abc',5,True]
print(len(l))

6

---------------------
### Lists and Strings

In reality a **string** is almost like a **list of characters**. Characters are what we would call "letters and symbols (including numbers)". We will learn way more about them later on.

As such, everything that we have shown util now about lists can also be done with strings!

In [74]:
s = "This is a string"
print(s[0]) # First character
print(s[-1]) # Last character
print(s[3:10]) # Slice the string from the characters 4 to 10
print(len(s)) # How long is the string

T
g
s is a
16

---------------------

## Special functions on Lists
`.append()` is used to add an element at **the end** of the list:

In [76]:
l = [1,1,1]
print(l)
l.append(7) # append modifies the base list 
print(l)

[1, 1, 1]
[1, 1, 1, 7]

`.pop()` removes the **last element** from a list and returns it:

In [77]:
l = [1,2,3]
print(l)
print(l.pop()) # Removes and retuns the last element of the list
print(l)

[1, 2, 3]
3
[1, 2]

If you give an integer to `.pop(i)` it will return and remove form the list the **`i`-th element.**

In [79]:
l = [1,2,3,4]
print(l)
print(l.pop(1))
print(l)

[1, 2, 3, 4]
2
[1, 3, 4]

# Lecture I: EXERCISES

## Exercise 1:

Write a program that asks the user for an integer and then print (in one line) if the integer is divisible by 2, divisible by 5, both or neither.

Examples:
- Input: 32 Output: "32 is divisible by 2"   
- Input: 25 Output: "25 is divisible by 5"
- Input: 40 Output: "40 is divisible by 2 and 5"
- Input: 77 Output: "77 is not divisible by 2 or 5"

## Exercise 2:

Write a program that asks the user for their name, age, favorite number and the number they hate the most. 

Save the data to a list (this could be done without saving the data to a list, but I want you to practice with lists) and print the following: the last letter of their name, if their age is equal or over 18 print "you are an adult" if not "you are a minor", if their favorite number is bigger than their most hated number print "your favorite number is bigger than your hated number" if it is smaller print "your favorite number is smaller than your hated number" and if they are equal print "you hate your favorite number".

Example: 
- Input: John, 43, 7, 2 Output: "The last letter of your name is n. You are an adult. Your favorite number is bigger than your hated number"