# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Contributors:** \
Artur Llabrés Brustenga: Artur.Llabres@e-campus.uab.cat \
Gerard Navarro Pérez: Gerard.NavarroP@e-campus.uab.cat \
Arnau Parrilla Gibert: Arnau.Parrilla@e-campus.uab.cat \
Jan Scarabelli Calopa: Jan.Scarabelli@e-campus.uab.cat \
Xabier Oyanguren Asua: Xabier.Oyanguren@e-campus.uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE I : Print, Input and Variables

The `print()` function is used to output messages to the screen.

In [26]:
print("Hello World!")

Hello World!

It is not necessary to write the content directly inside the print, we can save it to a ***variable*** first and then prtint the variable.

A variable can be thought as a box where values can be stored.

To define a variable, simply choose a name for it and use the `=` operator to set its value.

In [3]:
welcome_message = "Hello World!" # save the string 'Hello World!' inside the variable 'welcome_message'. 
print(welcome_message)

Hello World

In the previous cell we have two instructions, the first one `name = ""` is called an assignment, the contents on the right- side of the equal are assigned to the variable whose name is in the left-side.

The second instruction is the `print()` function that we have seen in the first example.

The green letters after the `#` in the first line are called a **comment** and they are ignored by the python interpreter, this means that anything written after a `#` will not affect the code and therefore you can use it to take notes or clarify instructions right from inside the code cell instead of separating your comments from the code like this text.

------

Variables can have almost any name you want, just make sure that they do not start with a number, that they are not using special characters (like ! " · $ \% & \/ ( ) ? ¿ * ^ ¨ ` ´ -), and that they are not using the same name as one of the Python reserved words (basically words that are use to tell things to the code, for example print)

In [27]:
1name = "text" # this is not a valid variable name, because it is using a number

SyntaxError: invalid decimal literal (1643913289.py, line 1)

In [28]:
money$ = "text" # this is not a valid variable name, because it is using a special character

SyntaxError: invalid syntax (203811646.py, line 1)

In [31]:
print = "text"  # this will work as a variable name, but you should not use it

print("Hello World!") # because now print="text" and not the function it is suposed to be

TypeError: 'str' object is not callable

Now print does not do what it is suposed to do, because we have reassigned it value when we did `print="text"`. 

Until we restart the **Python Kernel** we will not be able to use `print()` -> to do so you can go to the menu bar (near the top of the page) -> Kernel -> Restart.

In [ ]:
print("This should work now") # Run this after reseting the Python Kernel (Instruction above)

The best way to know if you can use a variable name is to look at its color, if you are using one of Python reserved words it will be displayed in green if not in black.

In [ ]:
print, list, dict, int, bool, def, if, for, while... # all in green so do not use as variable name

print1, name_list, dictionary, integer, boolean, define, for_loop, while_loop... # all in black so you can use them

Basically if a name you want to use is reserved and displayed in green you can always add more letters or numbers to it to make it a valid variable name.

-------------------------------

Now we know how we can name a variable, but what can we put inside? (or more correcly said what **type** of values can be assigned to a variable)

In [3]:
a = "hello" # this is a string
x = 42 # this is an integer
y = 3.14 # this is a float
z = True # this is a boolean

So Python has different **types** you can think of a type as a familly of values that will 
behave in the same way.

The first types we will see are:

- **strings**
- **integers**
- **floats**
- **booleans**

In order to know the the type of a variable you can use `type()`

### Strings

A string (in short **str**) is a sequence of characters which can inlcude letters and numbers, we use the **"** character to begin and close the string.

We have been working with strings since the beggining: `"Hello World!"` is a string.

In [4]:
string_var = "This is a String, it has letter, but also numbers: 1231, 143.324, 0.1..." # example of a string
type(string_var)

str

### Integers

Integer (in short **int**) are possitive or negative numbers without decimals.

In [5]:
int_var = 1
type(int_var)

int

In [6]:
int_var1 = 4567
type(int_var1)

int

In [7]:
int_var2 = -19
type(int_var2)

int

### Floats

Floats are possitive or negative decimal numbers.

In [8]:
float_var = 1.0
type(float_var)

float

In [11]:
float_var1 = 3.1415
type(float_var1)

float

In [10]:
float_var2 = -8.1
type(float_var2)

float

Unlike other programming languages python is not strongly typed, meaning that variables are not bound to a sigle type, therefore you could have a variable that stores a string and later change it to an *int*.

In [15]:
i = "The quick brown fox jumps over the lazy dog" # Here 'i' is a string
print(i)
print(type(i))

print("-------------") # just printing a line to separate the prints

i = 208 # Now 'i' is an int
print(i)
print(type(i))

The quick brown fox jumps over the lazy dog
<class 'str'>
-------------
208
<class 'int'>

Not only that, but the type of a variable can be changed without changing its contents using the functions `str()`, `int()`, `float()` and `bool()`

In [15]:
var = "1"
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1
<class 'str'>

In [14]:
var = "1"
var = int(var) # Convert variable 'var' to type 'int'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1
<class 'int'>

In [13]:
var = "1"
var = float(var) # Convert variable 'var' to type 'float'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

1.0
<class 'float'>

In [16]:
var = "1"
var = bool(var) # Convert variable 'var' to type 'bool'
var_type = type(var) # Get the type of the variable 'var'
print(var)
print(var_type)

True
<class 'bool'>

sidenote: bool(i) is True for any number besides 0 and any non-empty string. See below:

In [16]:
print(bool(142124))
print(bool("sdfghjkiuytredfghj"))
print(bool(0))
print(bool(""))

True
True
False
False

---------------------

## Operators

### Sum

`+`

Between integers returns the sum of the two integers as an integer:

In [23]:
a = 2
b = 4
c = a+b
print(c)
print(type(c))

6
<class 'int'>

Between flaots returns the sum of the two floats as float:

In [24]:
a = 0.8
b = 0.2
c = a+b
print(c)
print(type(c))

1.0
<class 'float'>

Between a float and an int returns the sum of the two as a float:

In [25]:
a = 0.8
b = 5
c = a+b
print(c)
print(type(c))

5.8
<class 'float'>

Between two strings returns a string formed by concatenating the first one with the second one:

In [31]:
a = "xk"
b = "cd"
print(a+b)

xkcd

Between two booleans, `True` is used as `1` and `False` is used as `0` and the output is an int:

In [29]:
a = True
b = False
c = a+b
print(c)
print(type(c))

1
<class 'int'>

### Multiplication
`*`

Between integers returns the result of the multiplication as an integer, the same between floats, but returns a float, and between an integer and a float returns a float.

In [37]:
a = 3
b = 5.5
c = a*b
print(c)
print(type(c))

16.5
<class 'float'>

You can not multiply strings:

In [39]:
a = "hello"
b = "goodby"
c = a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

However, you can multiply a string with an integer:

In [14]:
a = "ha"
print(a*6)

hahahahahaha

### Division
`/`

You can devide between integers or floats and the result is always a float, even if both operands where integer and the division is perfect

In [40]:
a = 5
b = 3.5
print(a/b)

1.4285714285714286

In [41]:
a = 10
b = 2
c = a/b
print(c)
print(type(c))

5.0
<class 'float'>

### Modulus

`%`

Returns the remainder of the division:

In [49]:
a = 17
b = 3
print(a%b)

2

If a number is divisible by another the remainder of the division is 0:

In [50]:
a = 18
b = 3
print(a%b)

0

## Comparators

`==`, `>`, `>=`, `<`, `<=`

Compare two values and return a boolean (True or False):

In [12]:
a = 3.1415
b = 4
print(a>=b)

False

When comparing integers with floats, the integer is internally converted to float, this is why `1` and `1.0` are equal.

In [4]:
a = 1
b = 1.0
print(a==b)

True

This conversion is not done when comparing integers or floats to strings and therefore `1` is not equal `"1"`

In [3]:
a = 1
b = "1"
print(a==b)

False

Summary of the operators:
* `a+b`: sum
* `a*b`: multiplication
* `a**n`: power
* `a/b`: true division
* `a%b`: modulus (remainder of the division)
* `a==b`: checks if a and b are equal and returns a boolean (True or False)
* `a!=b`: checks if a and b are diferent and returns a boolean
* `a > b`: checks if a is greater than b and returns a boolean
* `a < b`: checks if a is less than b and returns a boolean
* `a >= b` and `a <= b`: greater iqual and lesser iqual, return booleans

------------------------------

## Input

The `input()` function is used to get a value from a user.

The output of this function is a string that can be saved to a variable.

In [ ]:
name = input("Whats your name? ")
print(name)

The output of the `input()` function is always a *string*.

In [23]:
number = input("Choose a number between 1 and 11: ")
print(number+5)

Choose a number between 1 and 11: 10

TypeError: can only concatenate str (not "int") to str

As mentioned above the output of the `input()` function is always a string. This is why the `+` is giving us an error. We are trying to sum a string with an integer. If we use `int()` before saving the value to the variable then it will be saved as an integer and we will not have any problem to sum it with another number.

In [24]:
number = int(input("Choose a number between 1 and 11: "))
print(number+5)

Choose a number between 1 and 11: 10
15

# If, Elif, Else

The `if():` clause takes in a boolean value and executes the code below if the boolean was true.

In [51]:
a = 5
b = 2
if(a > b):
    print("a is greater than b")
print("Code outside the if is always executed")

a is greater than b
Code outside the if is always executed

In [52]:
a = 5
b = 2
if(a < b):
    print("a is lesser than b")
print("Code outside the if is always executed")

Code outside the if is always executed

The `elif():` function can be used to add other conditions after an if.

In [53]:
a = 5
b = 2
if(a < b):
    print("a is lesser than b")
elif(a > b):
    print("a is greater than b")
print("Code outside the if is always executed")

a is greater than b
Code outside the if is always executed

The `else:` function executes the code below if all the conditions from the if and elifs above are false.

In [54]:
a = 5
b = 5
if(a < b):
    print("a is lesser than b")
elif(a > b):
    print("a is greater than b")
else:
    print("if a is not greater nor lesser than b, then a must be equal to b")
print("Code outside the if is always executed")

if a is not greater nor lesser than b, then a must be equal to b
Code outside the if is always executed

Just to say it explicitly you can add as many lines of code as you want below each part of the `if`, `elif` and `else`.

# Lists
Lists are sequences of values of any type, in fact they are ***iterable*** objects (we will talk about that on following sessions).

Creating a list:

In [20]:
list_of_ints = [1,6,1,8,0,3,4]
list_of_chars = ["Y","M","C","A"]
list_of_floats = [0.123, 4.20, 13.4, 6.9]
list_of_multiple_types = [1, "one", 1.0]

Even lists of lists can be made:

In [21]:
list_of_lists = [[1,2,3,4], [0.2,6,3,"A"], "string", [1,2], 42]

Some of the operators seen before can also be used with lists:

The `+` sign concatenates lists:

In [55]:
l1=[1,2,3]
l2=[3,2,1]
print(l1+l2)

[1, 2, 3, 3, 2, 1]

The `*` sign extents the list by making copies of itself `x` times (where `x` is an integer):

In [57]:
l1=[1,2,3]
print(l1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Using `name_of_a_list[integer]` you can get the ith value of the list. **Keep in mind that lists start at 0**, so `name_of_a_list[0]` will get you the first element.

In [58]:
l = [1,2,3,4]
print(l[0]) #first element
print(l[1]) #second element

1
2

If you try to access a position outside of the list, you will get this error:

In [59]:
l = [1,2,3,4]
print(l[10]) # eleventh element, which does not exist

IndexError: list index out of range

You can access the list backwards using negative numbers where `name_of_a_list[-1]` is the last element of the list.

In [61]:
l = [1,2,3,4]
print(l[-1]) #last element
print(l[-2]) #sencond to last element

4
3

What happens if we have a list of a list?

Basically we can do `[·]` twice.

If the ith element of a list is another list of which you want the jth element the following can be used `list[i][j]`

In [63]:
l = [[1,2,3],[4,5,6]] # list of lists

l2 = l[1] # get the second element of the list 'l' which is the second list and save it to l2
print(l2)

print(l2[2]) # print third element of l2

[4, 5, 6]
6

In [65]:
# same as above but in one step using list[i][j]
l = [[1,2,3],[4,5,6]]
print(l[1][2]) # third element of the second list

6

You can get a sublist of your list using `name_of_a_list[x:y]`, for example:

From the second element of the list to the last:

In [69]:
l = [0,1,2,3,4,5,6]
print(l[1:])

[1, 2, 3, 4, 5, 6]

From the first element to the third:

In [68]:
print(l[:3])

[0, 1, 2]

From the third element to the penultimate:

In [70]:
print(l[2:-1])

[2, 3, 4, 5]

`len()` returns the length of a list, aka how many elements are there in the list:

In [75]:
l = [1,2,3,4,5,6]
print(len(l))

6

---------------------

Everything that we have shown util now about lists can also be done with strings:

In [74]:
s = "This is a string"
print(s[0]) # First character
print(s[-1]) # Last character
print(s[3:10]) # The characters 4 to 10 of the string
print(len(s)) # How long is the string

T
g
s is a
16

---------------------

`.append()` is used to add an element at the end of the list:

In [76]:
l = [1,1,1]
print(l)
l.append(7) # append modifies the base list 
print(l)

[1, 1, 1]
[1, 1, 1, 7]

`.pop()` removes the last element from a list and returns it:

In [77]:
l = [1,2,3]
print(l)
print(l.pop()) # Removes and retuns the last element of the list
print(l)

[1, 2, 3]
3
[1, 2]

If you give an integer to `.pop(i)` it will return and remove form the list the i-th element.

In [79]:
l = [1,2,3,4]
print(l)
print(l.pop(1))
print(l)

[1, 2, 3, 4]
2
[1, 3, 4]