# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Lecturer and contributor to this lesson:**

Xabier Oianguren Asua: oiangu9@gmail.com

**The lecture is heavily based on previous material created by:**

Arnau Parrilla Gibert: arnauparrilla@gmail.com \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE II : The Loops, Iterables and Dictionaries 

### $(1.)$ - [*THE FOR LOOP*](#1)
### $(2.)$ - [*THE WHILE LOOP*](#2)
### $(3.)$ - [*DICTIONARIES*](#3)


Imagine we want to repeat a piece of code over and over until certain condition is hit, or imagine that we want to repeat a piece of code once per each element of a sequence of elements or índices. Moreover, imagine that the number of times we need to do this is not determined while we are coding, that it will be determined dynamically when the script is used by somebody, or used for different input data.

It is to solve these kinds of situations and more that we have the **loops**.

#### <ins>There are two types of loops:</ins>
* A `for` loop is a piece of code that will be repeated once per each element of an **iterable** sequence of elements. 

The **slogan** is *for each element of [this], execute this block of code*.
* A `while` loop is a piece of code that will be repeated as long as a condition is true.

The **slogan** is *while [this] is True, execute this block of code, over and over*-

### Iteration
Each time a block of code is repeated, it is called an **iteration**!

<a id='1'></a>

# (1.) The For Loop
The **slogan** is *for each element of [this], execute this block of code*.

Structure:

        for <variable_that_will_sweep_the_iterable> in <iterable>:       
            Block of code to repeat
  
For instance, lists are **iterable** objects, meaning they have a sequence of elements that we can cross one by one:

In [1]:
lis = [0,1,2,3,4,5]

In [2]:
for i in lis:
    print("hola")
    print(f"Iteration number {i}")

hola
Iteration number 0
hola
Iteration number 1
hola
Iteration number 2
hola
Iteration number 3
hola
Iteration number 4
hola
Iteration number 5

In [5]:
for mermin in [8.9, "Duuude!", True, 10/3]:
    print("hola")
    print(f"Iteration number {mermin}")

hola
Iteration number 8.9
hola
Iteration number Duuude!
hola
Iteration number True
hola
Iteration number 3.3333333333333335

As you see, in each of the iterations, the variable we set as the index that iterates, takes a different value. In fact, if we had a variable with the same name outside the loop, its value will only be changed inside it, but also when the loop is finished! The last value it took will be its new value.

In [7]:
x=8
for x in [8.9, "Duuude!", True, 10/3]:
    print("hola")
    print(f"Iteration number {x}")
print("Outside of the loop! Finally!", x)

hola
Iteration number 8.9
hola
Iteration number Duuude!
hola
Iteration number True
hola
Iteration number 3.3333333333333335
Outside of the loop! Finally! 3.3333333333333335

Now, `for` loops have endless uses, but one of their main uses is to provide us an index that counts iterations. That is, a variable that tells us in each of the iterations of the block of code, in which iteration the execution is at.

In [8]:
x=8
for i in [0,1,2,3,4,5]:
    print(f"Iteration number {i}")
    print(x+i)

Iteration number 0
8
Iteration number 1
9
Iteration number 2
10
Iteration number 3
11
Iteration number 4
12
Iteration number 5
13

It is very uncomfortable however needing to write the whole list of indices, because imagine, in real codes, `for` loops typically iterate for thousands of times. There is a Python function to help us with this though! 
The `range()` function. 

* `range(N)` returns the whole numbers from `0` till $N-1$.
* `range(n,N,k)` returns the whole numbers from `n` till `N-1`, with steps of `k` (if `k` is negative, the range will be given in reverse order).

In [9]:
for i in range(3, 12, 3):
    print(f"Index equal to {i}")

Index equal to 3
Index equal to 6
Index equal to 9

### Nano-Exercise 1: Print if the numbers from 0 to 10 are: "Zero","Odd" or "Even"

In [11]:
for i in range(11):
    if i==0:
        print(f"Number {i} is Zero")
    elif i%2:
        print(f"Number {i} is Odd")
    else:
        print(f"Number {i} is Even")

Number 0 is Zero
Number 1 is Odd
Number 2 is Even
Number 3 is Odd
Number 4 is Even
Number 5 is Odd
Number 6 is Even
Number 7 is Odd
Number 8 is Even
Number 9 is Odd
Number 10 is Even

**Note** that inside each iteration, we can modify the value of the iterating index, but it will be renewed normally with the next value in the next iteration.

In [14]:
for i in range(6):
    print(f"Iteration {i}")
    i = i+11
    if(i%2):
        print(f"Odd {i}")
    else:
        print(f"Even {i}")

Iteration 0
Odd 11
Iteration 1
Even 12
Iteration 2
Odd 13
Iteration 3
Even 14
Iteration 4
Odd 15
Iteration 5
Even 16

### Iterables and their Functions
As we saw, **list**s are iterables, the output of some functions like `range()` as well. But there are many others that we will see in the coming lectures. Another one you know are the `strings`!

In [15]:
x = "Aviso a navegantes!!!"
for i in x:
    print(i)

A
v
i
s
o

a

n
a
v
e
g
a
n
t
e
s
!
!
!

But there is a universal way! Any iterable can be indexed, just as we did with lists and strings, that is, we can directly access the `i`-th element of the list using `[i]` after its name. Well, then we can iterate over the indices and whenever we need the `i`-th element of an iterable or another, we just access it!

In [21]:
l=[2.3, 4.5, 9.8, 10.2, 9]
s="yatusabehlapeseerre"

x=0
for j in range(5):
    print(f"{l[j]} {s[j]}")
    x+=l[j]

print(x)

2.3 y
4.5 a
9.8 t
10.2 u
9 s
35.8

But there are Python functions that can help us make it easier to read


*   `enumerate(<iterable>)`: It takes an iterable and it will output pairs of values (again as an iterable), being the index position i and the i-th value. 

The best way to understand what it does is with an example. **Note that** we have now two variables!

In [25]:
word = "silencisisplau"
for a,b in enumerate(word):
    print(f"The index {a} The iterand {b}")

The index 0 The iterand s
The index 1 The iterand i
The index 2 The iterand l
The index 3 The iterand e
The index 4 The iterand n
The index 5 The iterand c
The index 6 The iterand i
The index 7 The iterand s
The index 8 The iterand i
The index 9 The iterand s
The index 10 The iterand p
The index 11 The iterand l
The index 12 The iterand a
The index 13 The iterand u

If I just set one variable, it will be a sort of list that contains the two.

In [28]:
l=[6, 3.5, 7.4]
for x in enumerate(l):
    print(x)
    print(x[0])
    print(x[1])

(0, 6)
0
6
(1, 3.5)
1
3.5
(2, 7.4)
2
7.4

In order to iterate two or more iterables at the same time, we can use:

*   `zip(<iterable1>, <iterable2>,...)`: Returns pairs of elements being the paired elements of both iterables.   

  **Note**: The loop repeats as many times as the shortest iterable

In [29]:
w1 = "hola"
w2 = "adeu"
w3 = "I had enough!"
for i,j,k in zip(w1,w2,w3):
    print(i,j,k)

h a I
o d
l e h
a u a

In [15]:
l1 = "hola"
l2 = ["llenties","Sakon",[1,2,3],236]
l3 = [101,102,103,104]
l4 = range(4,-1,-1)
for i,j,k,z in zip(l1,l2,l3,l4):
    print(i,j,k,z)

h llenties 101 4
o Sakon 102 3
l [1, 2, 3] 103 2
a 236 104 1

**Note**: The loop repeats itself with the length of the shortest iterable.

### Nano-Exercise 2: Compute the final grade for every student and save it into a list
Note the `round(x, decimals)` function allows us to round a number `x` with `decimal` decimal places.

In [50]:
w = [0.3,0.3,0.2,.1,.1] #weights for exam1,exam2 ... respectively
exam1 = [4.9,7,8.2,9]
exam2 = [7,7,6.8,4.9]
pract1 = [9.1,7,8,7.9]
pract2 = [9,10,4.6,8.2]
pract3 = [4,8,8,7.9]

average=0
final_grades = []
for i,j,k,l,m in zip(exam1,exam2,pract1,pract2,pract3):
    final_grades.append( round( i*w[0]+j*w[1]+k*w[2]+l*w[3]+m*w[4], 2) )
    average+=final_grades[-1]
average/=len(exam1)

print(f"The final grades are {final_grades},\n with an average {average:.4}")

The final grades are [6.69, 7.4, 7.36, 7.36],
 with an average 7.202

There are better ways to do this, but this is already functional!

# Extra: List Comprehension

It might be annoying needing to write several lines of code inside a `for` only to generate the components of a list.
List comprehensions provide a concise way to do this. They allow you to create a list that requires a for loop in its creation, all in a single line of code. Neat.

The general template for a list comprehension is

`my_list = [ <expression_involving_var> for <var> in <iterable> if <condition_involving_var> ]  `

It is best to see an example to understand this. 

The following two cells generate the exact same list containing the squares of the first 9 numbers that are even.

In [51]:
# the standard way to do this
l = []
for i in range(10):
    if i%2==0:
        l.append(i**2)
print(l)

[0, 4, 16, 36, 64]

In [52]:
# All in a single line
l = [i**2 for i in range(10) if i%2==0]
print(l)

[0, 4, 16, 36, 64]

If you do not write a condition it will be applied to all the elements.

In [58]:
# All in a single line
l = [ i**2 for i in range(10) ]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Or another example, a sub-list with the names that start from a vowel.

In [53]:
all_names = ["Fina", "Verónica", "Aitor", "Agustí", "Imma", "Olga"]

vowel_names = [ name for name in all_names if name[0] in ['A', 'E', 'I', 'O', 'U'] ] 
print(vowel_names)

['Aitor', 'Agustí', 'Imma', 'Olga']

**Lifehack: in**

Note that we used the special operator `in`. This takes a value in the left and checks `==` with all the elements in the iterable on its the right. If one of them outputs `True` then the output is `True`, else, it is `False`.

In [57]:
print( 'w' in ['www.scn2.cat', 'w', 'hey'] )
print( 'w' in ['www.scn2.cat', 'o', 'hey'] )
print( 'w' in 'www.scn2.cat' )

True
False
True

### Nano-Exercise 2 again, but now with list comprehension

In [69]:
w = [0.3,0.3,0.2,0.1,0.1] #weights for exam1,exam2 ... respectively
exam1 = [4.9,7,8.2,9]
exam2 = [7,7,6.8,4.9]
pract1 = [9.1,7,8,7.9]
pract2 = [9,10,4.6,8.2]
pract3 = [4,8,8,7.9]

final_grades = [ round( i*w[0]+j*w[1]+k*w[2]+l*w[3]+m*w[4], 2) for i,j,k,l,m in zip(exam1,exam2,pract1,pract2,pract3) ]

print(final_grades)

[6.69, 7.4, 7.36, 7.36]

**Lifehack: Break code line!**

Note that you can divide a line of code in multiple lines, for easier readability, with a backslash `\`.

In [68]:
final_grades = \
     [ 
        round( i*w[0]+j*w[1]+k*w[2]+l*w[3]+m*w[4], 2)  \
                for i,j,k,l,m \
                      in zip(exam1,exam2,pract1,pract2,pract3) 
     ]

---
<a id='2'></a>
## (2.) The While Loop
The **slogan** is *while [this] is True, execute the block of code, over and over*-

Structure:

        while <boolean_expression>:       
            Block of code to repeat

As long as the condition is True, the block of code will be repeated (even for ever if it is never False! So be careful!).

In [71]:
a = 5
b = 9
while a<10 or b>=0:
    print("a =",a,"b =",b)
    a = a + 1
    b = b - 1

a = 5 b = 9
a = 6 b = 8
a = 7 b = 7
a = 8 b = 6
a = 9 b = 5
a = 10 b = 4
a = 11 b = 3
a = 12 b = 2
a = 13 b = 1
a = 14 b = 0

In the next example, the while loop will act as a for in range(10):

In [72]:
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

Of course, unlike in the case of a `for`, if the variables that we make reference to in the condition are not defined still, they will not appear out of the blue! There is no clue for the machine as for what their value should be! So take care to make sure that the variables are already defined or else you will get an error.

**Also** importantly, the value of those variables is **not** reset every iteration!

### Nano-Exercise 3: 
Ask the user for a string and tell them in which position happens the letter `a` (all using while loops). If the user introduces a string that does not contain `a`, keep asking them for a string that does, until they input it.

In [91]:
string = input("> Give me a string with 'a' and I can tell you where the letter 'a' happens! :\n")
while not 'a' in string:
    print("\nThere was no 'a' there!")
    string = input("> Give me a string with 'a' and I can tell you where the letter 'a' happens!:\n")

i = 0
while(string[i]!='a'):
    i += 1

print(f"\n> The letter 'a' happens for the first time in the position {i} in \n\n{string}")

> Give me a string with 'a' and I can tell you where the letter 'a' happens! :
why?

There was no 'a' there!
> Give me a string with 'a' and I can tell you where the letter 'a' happens!:
no

There was no 'a' there!
> Give me a string with 'a' and I can tell you where the letter 'a' happens!:
okaay

> The letter 'a' happens for the first time in the position 2 in

okaay

**Lifehack: A Menu**
And this is how one can generate a user interaction **menu**!

You offer the user what your code is capable of doing, and ask them to choose an option. You keep asking until they input a reaosnable option, and stop asking when they choose the exit option!

#### A Seemingly bad idea

`while True:`

Since the while loop continues while the expression inside is `True`, if one places directly a `True` there, it will run forever!!!

## (1. & 2.): Nested Loops

Of course, it is possible to nest loops inside other loops, be them of one or the other kind. Just as it was possible to nest `if/elif/else` conditions without bounds.

For example, let us use a nested `for` set to generate all the possible combinations of the elements of some lists.

In [99]:
names = [ "Gandalf", "Goku", "Misa"]
surnames1 = ["Potter", "Daimaku", "Uzumaki"]
surnames2 = [ "Nobi", "Stark", "Kenobi"]

In [100]:
for name in names:
    for surname1 in surnames1:
        for surname2 in surnames2:
            print(f"{name} {surname1} {surname2}")

Gandalf Potter Nobi
Gandalf Potter Stark
Gandalf Potter Kenobi
Gandalf Daimaku Nobi
Gandalf Daimaku Stark
Gandalf Daimaku Kenobi
Gandalf Uzumaki Nobi
Gandalf Uzumaki Stark
Gandalf Uzumaki Kenobi
Goku Potter Nobi
Goku Potter Stark
Goku Potter Kenobi
Goku Daimaku Nobi
Goku Daimaku Stark
Goku Daimaku Kenobi
Goku Uzumaki Nobi
Goku Uzumaki Stark
Goku Uzumaki Kenobi
Misa Potter Nobi
Misa Potter Stark
Misa Potter Kenobi
Misa Daimaku Nobi
Misa Daimaku Stark
Misa Daimaku Kenobi
Misa Uzumaki Nobi
Misa Uzumaki Stark
Misa Uzumaki Kenobi

Make sure you understand why the next thing does not work!

In [101]:
for name, surname1, surname2 in zip(names, surnames1, surnames2):
    print(f"{name} {surname1} {surname2}")

Gandalf Potter Nobi
Goku Daimaku Stark
Misa Uzumaki Kenobi

### Nano-Exercise 4.1:

Given the list `words`, create another list with the position of the words where a vowel appears for the first time. 

If there is none, assume `-1`.

In [93]:
words = ["solid", "state", "is", "my", "worst", "nightmare", "Then", "wait", "for", "liquid", "state"]

In [96]:
positions=[]

for word in words: # you know that all the words will need to be iterated over
    k=0
    while (k<len(word)) and (not word[k] in "aeiou"): # note that the other way around it would fail!
        k+=1
    if k==len(word):
        k=-1 # there was no vowel!
    positions.append(k)
    i+=1
print(positions)

[1, 2, 0, -1, 1, 1, 2, 1, 1, 1, 2]

## (1. & 2.): Break and Continue

The `break` and `continue` orders are used to give either `for` or `while` loops greater flexibility, allowing one to altere the normal flow of the loops.

### Break
With the `break` statement we can force the loop to stop its iterations and exit the closest loop's indented block immediately (closest in terms of indentation levels). 

That is, even if the condition for a `while` loop may still be `True` or the last iteration of a `for`loop has not been reached, the code execution jumps immediately to the next line outside the closest loop's indentation level.

In [2]:
x = 1
while True:
    x = x*2
    if(x>5):
        break
    print(hola)

2
4

Can you guess why the list in the penultimate list is not printed while the last one is?

In [105]:
m = [[1,2,3],['a','e','i'], [4,5,6],[7,8,9]]
for k, lista in enumerate(m):
    for j in lista:
        if k==2:
            break
        print(j)
    print("-")

1
2
3
-
a
e
i
-
-
7
8
9
-

You are right! Only the closest loop is broken! That is, we would need two `break` statements to stop it all.

In [108]:
m = [[1,2,3],['a','e','i'], [4,5,6],[7,8,9]]
out=False
for k, lista in enumerate(m):
    for j in lista:
        if k==2:
            out=True
            break
        print(j)
    if out:
        break
    print("-")

1
2
3
-
a
e
i
-
4
5
6

### Nano-Exercise 4.2: Now Using Only For Loops

Given the list `words`, create another list with the position of the words where a vowel appears for the first time. 
If there is none, assume `-1`.

**Do it using exclusively `for` loops!**

In [75]:
words = ["solid", "state", "is", "my", "worst", "nightmare", "Then", "wait", "for", "liquid", "state"]

In [77]:
positions=[]
for num_word, word in enumerate(words):
    for k, letter in enumerate(word):
        if letter in "aeiou":
            positions.append(k)
            break
        if len(positions)!=num_word: # it means that no letter was a vowel!
            positions.append(-1)
print(positions)

[1, 2, 0, -1, 1, 1, 2, 1, 1, 1, 2]

### Continue
With the `continue` statement, the execution is forced to immediately jump to the next iteration of the closest loop (in terms of indentation levels), even if in the same block there were still more lines below the `continue`. That is, the loop is not broken, but forced to go to the next iteration.

For example here, in the iteration where `i==3`, the code below (the `print`) is skipped and the loop continues in the next iteration.

In [23]:
i = 0
while(i<5):
    i += 1
    if(i==3):
        continue
    print(i)

1
2
4
5

### Nano-Exercise 5:

Print all the numbers in the lists except when they are equal to 4.

In [51]:
m = [[1,2,3],[4,5,6],[7,4,9]]
for i in range(len(m)):
    for j in range(len(m[0])):
        if(m[i][j]==4):
            continue
        print(m[i][j])
    print("-")

1
2
3
-
5
6
-
7
9
-

------

### Another Interesting Iterable: 
<a id='3'></a>
# (3.) Dictionaries
A dictionary is an ordered collection of different kinds of values (lists, floats, strings, other dictionaries etc.) each with its own name, but all gathered in a same variable.

Each entry in a dictionary is made of a pair `key: value`. The `key` is the "name" of the variable you save in `value`. It is a way to have many variables of different sorts, but all under a same object.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces `{}`. A colon `:` separates each key from its associated value:  
`d = {     <key1>: <value1>,     <key2>: <value2>,    ...,    <key3>: <value3>   }`

Then, in order to access one of the values in `d`, instead of indexing by their position, as we used to with the lists, we index them by their keys. Say, `d[<key1>]` would give us `<value1>`.

The keys can be any sort of what is called **immutable** objects (we will know about them later on), but in general we use rather **strings** or **int**s.

In [115]:
my_dictionary = {"a": 32, "bob": 3, "c": 21, 0:"haloo", 2:190.9}

print(my_dictionary["bob"])
print(my_dictionary[0])

3
haloo

Of course, we can modify the value under a key. They just behave as if each of them was a variable!

In [116]:
my_dictionary["bob"]= my_dictionary["bob"]+3

print(my_dictionary)

{'a': 32, 'bob': 6, 'c': 21, 0: 'haloo', 2: 190.9}

In order to add more `key-value` pairs, we just do it as if we were to create a new variable.

In [118]:
my_dictionary["caterpie"] = "umbreon"

print(my_dictionary)

{'a': 32, 'bob': 6, 'c': 21, 0: 'haloo', 2: 190.9, 'caterpie': 'umbreon'}

We can even create an empty dictionary and then fill it. Just as we used to do with lists.

In [119]:
people = {}
#or
people = dict()

# just as
emptylist = []
# or
emptylist=list()

Then fill the dictionary:

In [120]:
people["entry 1"]=908

Even another dictionary can be an entry of a dictionary!

In [125]:
people[6423746] = {"name": "Joan", "age": 23, "city": "San Francisco", "Lucky Numbers":[10, 9, 7]}

In [122]:
print(people)

{'entry 1': 908, 6423746: {'name': 'Joan', 'age': 23, 'city': 'San Francisco'}}

In [123]:
people[6423746]

{'name': 'Joan', 'age': 23, 'city': 'San Francisco'}

In [126]:
people[6423746]["Lucky Numbers"]

[10, 9, 7]

In [127]:
people[6423746]["Lucky Numbers"][1]

9

## Dictionary Methods:
*    `d.clear()`
*    `d.get(<key>[, <default>])`
*    `d.items()`
*    `d.keys()`
*    `d.values()`
*    `d.pop(<key>[, <default>])`
*    `d.update(<obj>)`

A dictionary is a mutable object like lists, so if we apply a method to a dictionary we will modify it without needing to reassign it (remember, just doing `my_list.append(<something>)` changed `my_list`, without needing to do `my_list = my_list.append(<something>)`, which will be required for other forthcoming objects!).

### `d.clear()`
It empties the dictionary:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)

d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

### `d.get(key, value)`
It returns the value of a given key from a dictionary. But what is the difference with doing `d[<key>]`? Well, using `get` does not return an index error if the `<key>` does not exists yet, as does `d[<key>]`. Instead, it will return a `None`, which is a special variable of `type` `Nonetype`, used for the analogous of the empty set in mathematics.

In [130]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.get('b'))

print(d.get('z')) # is not in d

20
None

If we add a value, the `d.get()` statement will return the value in case it does not exist (without adding it to `d`), otherwise, the dictionary's value:

In [131]:
print(d.get('z', 100))
print(d.get('b', 100))
print(d)

100
20
{'a': 10, 'b': 20, 'c': 30}

### `d.items()`
It returns an iterble of the key-value pairs. The first item in each pair is the key, and the second item is the key’s value:

In [134]:
d = {'a': 10, 'b': 20, 'c': 30}

for tup in d.items():
    print(tup[0], tup[1])

a 10
b 20
c 30

In [135]:
for key, value in d.items():
    print(key, value)

a 10
b 20
c 30

We could access directly one of them by cheating and converting them first to a list of pairs.

In [136]:
print(list(d.items())[1][0])

print(list(d.items())[1][1])

b
20

### `d.keys()`
Returns an iterator that yields the keys in the dictionary:

In [137]:
d = {'a': 10, 'b': 20, 'c': 30}

for k in d.keys():
    print(k)
    print(d[k])

a
10
b
20
c
30

### `d.values()`
Returns an iterator that yields the values in the dictionary:

In [138]:
d = {'a': 10, 'b': 20, 'c': 30}

for v in d.values():
    print(v)

10
20
30

### `d.pop(key)`
Removes a key (and its value) from the dictionary, if it is present, and also returns its value:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.pop('b'))

print(d)

20
{'a': 10, 'c': 30}

### `dictionary1.update(dictionary2)`
Takes the key-value pairs of `dictionary2` and merges them in `dicitonary1`, applying the following rules:
- If the key of `dictionary2` was not present in `dictionary1`, it is added with the corresponfing value.
- If the key of `dictionary2` was already present in `dictionary1`, the corresponding value of `dictionary1` is updated.

In [139]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)

print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

# Bonus Track! From Excel to Dictionary and Viceversa

This will use the concept of library of functions, that we will explain in a coming lecture, but we can blindly use it for now. First we will need to write `import pandas as pd`, which will give us more functionalities related with data manipulation (but do not worry, we will explain it later). Then, we will have the following two structures to import an excel-like (`.xlsx`) file to a Python dictionary and export Python dictionaries to excel-like files.

**(a) `pd.DataFrame(data = <name_of_my_dict>).to_excel(<path_to_file>, index=False)`**

You place in `<name_of_my_dict>` the name of your dictionary variable and in `<path_to_file>` the name of the file to be created **with the extension** (for example `.xlsx`). The file will be generated in the "place" where the notebook is.

In [17]:
d = {'People':["Arnau", "Gerard", "Artemis", "Jan", "Xabier"], 
     'Surnames':['Parrilla', 'Navarro', 'Llabrés', "Scarabelli", "Oianguren" ],
     'Favourite Number':[1, 2, 3, 4, 5],
    }

In [19]:
import pandas as pd
pd.DataFrame( data = d ).to_excel("MyExcel.xlsx", index=False)

In a coming lecture we will understand why this is this way, how to write to multiple different sheets of the same file, how to create it in another place etc. But I am explaining it now, so you can do a complete real-life exercise.

**(b) `pd.read_excel(<path_to_file>).to_dict(orient='list')`**

Just place in `<path_to_file>` the name of the file **with the extension** if the excel file is in the same "place" as the nnotebook (otherwise we will learn how to use relative and absolute paths in comming lectures!).

In [22]:
mydict = pd.read_excel("MyExcel.xlsx").to_dict(orient='list')

print(mydict)

{'People': ['Arnau', 'Gerard', 'Artemis', 'Jan', 'Xabier'], 'Surnames': ['Parrilla', 'Navarro', 'Llabrés', 'Scarabelli', 'Oianguren'], 'Favourite Number': [1, 2, 3, 4, 5]}