# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Contributors:** \
Artur Llabrés Brustenga: Artur.Llabres@e-campus.uab.cat \
Gerard Navarro Pérez: Gerard.NavarroP@e-campus.uab.cat \
Arnau Parrilla Gibert: Arnau.Parrilla@e-campus.uab.cat \
Jan Scarabelli Calopa: Jan.Scarabelli@e-campus.uab.cat \
Xabier Oyanguren Asua: Xabier.Oyanguren@e-campus.uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE II : The Loops
Loops are used to iterate a block of code:
#### <ins>Types of loops:</ins>
* A **for** loop is a loop that runs for a preset number of times.
* A **while** loop is a loop that is repeated as long as an expression is true. An expression is a statement that has a value.

## For
Structure:
> for *control_variable* in *iterable_object*:       
> &ensp;&ensp;&ensp;&ensp;Code to repeat
  
For instance:

In [13]:
print(len(range(10)))

10

In [1]:
for i in range(10):
  print("hola")

hola
hola
hola
hola
hola
hola
hola
hola
hola
hola

We can also use the value of the control variable in each one of the iterations

In [2]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(10):
  i = i+11
  if(i%2):
    print("Odd",i)
  else:
    print("Even",i)

Odd 11
Even 12
Odd 13
Even 14
Odd 15
Even 16
Odd 17
Even 18
Odd 19
Even 20

What can you notice?

*Answer: note that the value of i can be modified*

Examples of iterables objects:


*   **range**(start,stop,step):

In [0]:
for i in range(9,-1,-1):
  print(i)

9
8
7
6
5
4
3
2
1
0

*   **strings**

In [0]:
x = "hola"
for i in x:
  print(i)

h
o
l
a



*   **lists**

In [11]:
l = [78, 46, "carxofa", [3, 9], 5.7]

for i in l:
  print(i)

78
46
carxofa
[3, 9]
5.7


*   **enumerate:** adds a counter to an iterable. Returns an enumerate object that associates the counter with its list element  
Structure:
> enumerate (*iterable*,*start*)

In [12]:
s1 = "geek"
print (list(enumerate(s1,1)))

[(1, 'g'), (2, 'e'), (3, 'e'), (4, 'k')]

In [13]:
for i,j in enumerate("hola"):
  print(i,j)

0 h
1 o
2 l
3 a

*   **zip:** allows us to do parallel iteration   
Structure:
>for *var1, var2* ... in zip(*iterable*,*iterable*, ... )  

  **Note**: The loop repeats as many times as the shortest iterable

In [14]:
for i,j in zip("hola","adeu"):
  print(i,j)

h a
o d
l e
a u

In [15]:
l1 = "hola"
l2 = ["llenties","Sakon",[1,2,3],236]
l3 = [101,102,103,104]
l4 = range(4,-1,-1)
for i,j,k,z in zip(l1,l2,l3,l4):
  print(i,j,k,z)

h llenties 101 4
o Sakon 102 3
l [1, 2, 3] 103 2
a 236 104 1

**Note**: The loop repeats itself with the length of the shortest iterable.

In the following code we can see what the zip comand is.

In [16]:
l1 = {7, 3, 9}
l2 = {'b', 'a', 'c'}
print(list(zip(l1, l2)))

[(9, 'c'), (3, 'b'), (7, 'a')]

In [17]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = ["llenties","Sakon",[1,2,3],236]
l3 = "jam"
for i,z,j in zip(l1,l3,l2):
  print(i,z,j)

1 j llenties
2 a Sakon
3 m [1, 2, 3]

*   **tuples**  
*   **dictionaries**  
...

**Exemple summation:**

In [0]:
x = 0
for j in range(11):
  x = x + j

In [0]:
print(x)

55

# List Comprehension

*   List comprehensions provide a concise way to create lists.

*   The list comprehension always returns a result list.

[ *expression* for *item* in *list* if *conditional* ]

In [0]:
l = [i**2 for i in range(10) if i%2==0]
print(l)

[0, 4, 16, 36, 64]

This equals to:

In [0]:
l = []                #Empty list
for i in range(10):
    if i%2==0:
        l.append(i**2)

print(l)

[0, 4, 16, 36, 64]

## While
Structure:
> while(*condition*):       
> &ensp;&ensp;&ensp;&ensp;Code to repeat
  
As long as the condition is True, the block of code will be repeated.

In this example the while loop will act as a for in range(10):

In [0]:
i = 0
while(i<10):
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [5]:
i = 0
while(i<10):
  i = i + 10
  print(i)

10

In [14]:
i = 0
for i in range(10):
  i = i + 11
  print(i)

11
12
13
14
15
16
17
18
19
20

**Note:** keep in mind that the while loop depends directly on the value of **i** and does not reset every time.

We can also include ***and, or, not*** expressions in the condition:

In [0]:
a = 5
b = 9
while(a<10 or b>=0):
  print(a, b)
  a = a + 1
  b = b - 1

5 9
6 8
7 7
8 6
9 5
10 4
11 3
12 2
13 1
14 0

In the following example the loop will stop when it finds the letter 't' in the string:

In [10]:
i = 0
word = "castle"
while(word[i]!='t'):
    print(word[i],i) 
    i = i + 1

print("The letter", word[i], "is in the position", i)

c 0
a 1
s 2
The letter t is in the position 3

## Break and Continue

The statements break and continue are commonly used with conditionals to control the flow of a normal loop.

*   **Break:** With the break statement we can force the loop to stop. Even if the condition is true *(while)* or the maximum number of iterations has not been reached *(for)*.

In [2]:
hola = 1
while(True):
    hola = hola*2
    if(hola>5):
        break
    print(hola)

2
4

In [11]:
word = "castle"
for i in range(100):
    print(word[i],i)
    if(word[i]=="t"):
        print("The letter", word[i], "is in the position", i)
        break

c 0
a 1
s 2
t 3
The letter t is in the position 3

In [0]:
m = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(m)):
  for j in range(len(m[0])):
    if(m[i][j]==4):
      break
    print(m[i][j])
  print("-")

In [10]:
m = [[1,2,3],[4,5,6],[7,8,9]]
for i in m:
  for j in i:
    if(j==5):
      break
    print(j)
  print("-")

1
2
3
-
4
-
7
8
9
-

*   **Continue:** The continue statement is used if we do not want to execute the rest of the code inside a loop, <ins>it skips the code below the statement yet only for the current iteration</ins>. Loop does not terminate but continues on with the next iteration.

In [0]:
i = 0
while(i<5):
  i += 1
  if(i==3):
    continue
  print(i)

1
2
4
5

**Note:** See that if we update the value of **i** after the conditional, the loop will never stop

In [0]:
for i in range(10):
  print(i)
  continue
  print("hello")

0
1
2
3
4
5
6
7
8
9

In [0]:
for i in range(2,10,2):
  if(i==5):
    continue
  elif(i==4):
    continue
  print(i)

2
6
8

**Note**: the variable **i** will never get the value 5