# PYTHON COURSE FOR SCIENTIFIC PROGRAMMING 
**Lecturer and Main Contributor to this Notebook:** \
Artur Llabrés Brustenga: Artur.Llabres@uab.cat \

Course material can be found at: https://llacorp.github.io/Python-Course-for-Scientific-Programming/

# LECTURE I : Print, Input and Variables

The `print()` function is used to output messages to the screen.

It is not necessary to write the content directly inside the print, we can save it to a ***variable*** first and then prtint the variable.

A variable can be thought as a box where values can be stored.

To define a variable, simply choose a name for it and use the `=` operator to set its value.

In the previous cell we have two instructions, the first one `name = ""` is called an assignment, the contents on the right- side of the equal are assigned to the variable whose name is in the left-side.

The second instruction is the `print()` function that we have seen in the first example.

The green letters after the `#` in the first line are called a **comment** and they are ignored by the python interpreter, this means that anything written after a `#` will not affect the code and therefore you can use it to take notes or clarify instructions right from inside the code cell instead of separating your comments from the code like this text.

------

Variables can have almost any name you want, just make sure that they do not start with a number, that they are not using special characters (like ! " · $ \% & \/ ( ) ? ¿ * ^ ¨ ` ´ -), and that they are not using the same name as one of the Python reserved words (basically words that are use to tell things to the code, for example print)

Now print does not do what it is suposed to do, because we have reassigned it value when we did `print="text"`. 

Until we restart the **Python Kernel** we will not be able to use `print()` -> to do so you can go to the menu bar (near the top of the page) -> Kernel -> Restart.

The best way to know if you can use a variable name is to look at its color, if you are using one of Python reserved words it will be displayed in green if not in black.

Basically if a name you want to use is reserved and displayed in green you can always add more letters or numbers to it to make it a valid variable name.

-------------------------------

Now we know how we can name a variable, but what can we put inside? (or more correcly said what **type** of values can be assigned to a variable)

So Python has different **types** you can think of a type as a familly of values that will 
behave in the same way.

The first types we will see are:

- **strings**
- **integers**
- **floats**
- **booleans**

In order to know the the type of a variable you can use `type()`

### Strings

A string (in short **str**) is a sequence of characters which can inlcude letters and numbers, we use the **"** character to begin and close the string.

We have been working with strings since the beggining: `"Hello World!"` is a string.

### Integers

Integer (in short **int**) are possitive or negative numbers without decimals.

### Floats

Floats are possitive or negative decimal numbers.

Unlike other programming languages python is not strongly typed, meaning that variables are not bound to a sigle type, therefore you could have a variable that stores a string and later change it to an *int*.

Not only that, but the type of a variable can be changed without changing its contents using the functions `str()`, `int()`, `float()` and `bool()`

sidenote: bool(i) is True for any number besides 0 and any non-empty string. See below:

---------------------

## Operators

### Sum

`+`

Between integers returns the sum of the two integers as an integer:

Between flaots returns the sum of the two floats as float:

Between a float and an int returns the sum of the two as a float:

Between two strings returns a string formed by concatenating the first one with the second one:

Between two booleans, `True` is used as `1` and `False` is used as `0` and the output is an int:

### Multiplication
`*`

Between integers returns the result of the multiplication as an integer, the same between floats, but returns a float, and between an integer and a float returns a float.

You can not multiply strings:

However, you can multiply a string with an integer:

### Division
`/`

You can devide between integers or floats and the result is always a float, even if both operands where integer and the division is perfect

### Modulus

`%`

Returns the remainder of the division:

If a number is divisible by another the remainder of the division is 0:

## Comparators

`==`, `>`, `>=`, `<`, `<=`

Compare two values and return a boolean (True or False):

When comparing integers with floats, the integer is internally converted to float, this is why `1` and `1.0` are equal.

This conversion is not done when comparing integers or floats to strings and therefore `1` is not equal `"1"`

Summary of the operators:
* `a+b`: sum
* `a*b`: multiplication
* `a**n`: power
* `a/b`: true division
* `a%b`: modulus (remainder of the division)
* `a==b`: checks if a and b are equal and returns a boolean (True or False)
* `a!=b`: checks if a and b are diferent and returns a boolean
* `a > b`: checks if a is greater than b and returns a boolean
* `a < b`: checks if a is less than b and returns a boolean
* `a >= b` and `a <= b`: greater iqual and lesser iqual, return booleans

------------------------------

## Input

The `input()` function is used to get a value from a user.

The output of this function is a string that can be saved to a variable.

The output of the `input()` function is always a *string*.

As mentioned above the output of the `input()` function is always a string. This is why the `+` is giving us an error. We are trying to sum a string with an integer. If we use `int()` before saving the value to the variable then it will be saved as an integer and we will not have any problem to sum it with another number.

# If, Elif, Else

The `if():` clause takes in a boolean value and executes the code below if the boolean was true.

The `elif():` function can be used to add other conditions after an if.

The `else:` function executes the code below if all the conditions from the if and elifs above are false.

Just to say it explicitly you can add as many lines of code as you want below each part of the `if`, `elif` and `else`.

# Prettier Print

If `f` is used before a string in `""` then code can be inserted between curly brackets `{}`:

# Lists
Lists are sequences of values of any type, in fact they are ***iterable*** objects (we will talk about that on following sessions).

Creating a list:

Even lists of lists can be made:

Some of the operators seen before can also be used with lists:

The `+` sign concatenates lists:

The `*` sign extents the list by making copies of itself `x` times (where `x` is an integer):

Using `name_of_a_list[integer]` you can get the ith value of the list. **Keep in mind that lists start at 0**, so `name_of_a_list[0]` will get you the first element.

If you try to access a position outside of the list, you will get this error:

You can access the list backwards using negative numbers where `name_of_a_list[-1]` is the last element of the list.

What happens if we have a list of a list?

Basically we can do `[·]` twice.

If the ith element of a list is another list of which you want the jth element the following can be used `list[i][j]`

You can get a sublist of your list using `name_of_a_list[x:y]`, for example:

From the second element of the list to the last:

From the first element to the third:

From the third element to the penultimate:

`len()` returns the length of a list, aka how many elements are there in the list:

---------------------

Everything that we have shown util now about lists can also be done with strings:

---------------------

`.append()` is used to add an element at the end of the list:

`.pop()` removes the last element from a list and returns it:

If you give an integer to `.pop(i)` it will return and remove form the list the i-th element.

# Lecture I: EXERCISES

## Exercise 1:

Write a program that asks the user for an integer and then print (in one line) if the integer is divisible by 2, divisible by 5, both or neither.

Examples:
- Input: 32 Output: "32 is divisible by 2"   
- Input: 25 Output: "25 is divisible by 5"
- Input: 40 Output: "40 is divisible by 2 and 5"
- Input: 77 Output: "77 is not divisible by 2 or 5"

## Exercise 2:

Write a program that asks the user for their name, age, favorite number and the number they hate the most. 

Save the data to a list (this could be done without saving the data to a list, but I want you to practice with lists) and print the following: the last letter of their name, if their age is equal or over 18 print "you are an adult" if not "you are a minor", if their favorite number is bigger than their most hated number print "your favorite number is bigger than your hated number" if it is smaller print "your favorite number is smaller than your hated number" and if they are equal print "you hate your favorite number".

Example: 
- Input: John, 43, 7, 2 Output: "The last letter of your name is n. You are an adult. Your favorite number is bigger than your hated number"